.sun,
.aqi {
    background-color: rgba(219, 219, 219, 0.904);
    /* border: 1px solid #ccc; */
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 0.9rem;
    width: 40%;
    height: 100%;

}

.sunHead,
.aqiHead {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.8rem;
    height: 25%;
}

.sunHead img {
    height: 5rem;
    /* width: 5rem; */
}

.sunContent {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    height: 75%;
    gap: 8%;
}

.sunContent img {
    height: 7rem;
    /* width: 3rem; */
}

.aqi {
    background-color: rgba(219, 219, 219, 0.904);
    /* border: 1px solid #ccc; */
    border-radius: 2rem;
    padding: 0.8rem;
    margin: 0.9rem;
    height: 100%;
    width: 60%;
}

.aqiContent {
    margin-top: 1rem;
    width: 100%;
    /* gap: 8%; */
}

.aqiIndex {
    width: 25%;
    height: 100%;
    background-color: antiquewhite;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 1rem;
    padding: 2rem;
    /* gap: 8%; */
}

.aqiDesc {
    width: 75%;
    gap: 8%;
}