.left-section {
    width: 75%;
    height: 100%;
    /* background-color: #f3f3f3;
    border-radius: 3rem; */
    margin-left: 1rem;
}


.temp-info {
    gap: 1rem;
    border-radius: 5rem;
    padding: 2rem;
    /* background-color: #fdefce; */

}

.cityName {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.temp {
    padding: 1rem;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    width: 90%;
    border-radius: 5rem;
    padding: 2rem;
    background-color: #fdefce;
    font-family: 'Domine', serif;

}

.temperatue {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.iconImage {
    /* width: 15rem; */
    height: 10rem;
}

.weather-type {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.weather-more-info {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.mid-main {
    gap: 5%;
}

.more-info {
    /* font-size: 1.2rem; */
    background-color: blanchedalmond;
    padding: 1rem;
    width: 80%;
    border-radius: 2rem;
    /* gap: 5% */
}

.mid-info-head {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Domine', serif;
}

.feels_pressure {
    width: 100%;
    gap: 10%
}

.feels {
    height: 100%;
}

.temp-more-info {
    width: 100%;

    gap: 5%;
}

.temp-high img {
    height: 6rem;
    /* width: 2rem; */
}

.temp-low img {
    height: 6rem;
    /* width: 2rem; */
}


.pressure img {
    height: 6rem;
    /* width: 2rem; */
}

.small {
    font-size: 0.8rem;
}

.high-head {
    /* padding-top: 1em; */
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
}