    .rightSec {
        background-color: #f0f0f0;
        /* height: 100%; */
        border-radius: 25px;
        overflow-y: scroll;
    }

    .addCityCard {
        width: 80%;
        height: 100px;
        background-color: #fdefce;
        border-radius: 25px;
    }

    .addCityCard img {
        height: 80%;
    }

    .addCityCard button {
        background-color: #bca3a2;
        color: #fefefe;
    }

    .cityCard {
        width: 80%;
        height: 70px;
        background-color: #fdefce;
        border-radius: 25px;
    }

    .cityCard .btn {
        z-index: 5;
    }